In [65]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import statsmodels.api as sm
from sklearn import linear_model

In [66]:
# Reading in the .csv file
df = pd.read_csv('project_df.csv')
df.head(20)

,Unnamed: 0,Expenditure,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016
0,0,Total National Health Expenditures,"2,295,307","2,399,121","2,495,414","2,598,823","2,689,349","2,797,260","2,879,008","3,026,157","3,200,815","3,337,248"
1,1,Out of pocket,"290,000","295,184","293,723","299,742","309,973","318,330","325,189","330,068","339,315","352,537"
2,2,Health Insurance,"1,609,250","1,695,968","1,796,424","1,876,922","1,950,187","2,022,904","2,087,804","2,228,136","2,382,770","2,486,842"
3,3,Private Health Insurance,"776,176","802,857","832,906","864,344","898,631","928,211","946,398","999,940","1,068,778","1,123,372"
4,4,Medicare,"432,751","466,971","498,859","519,787","544,679","569,634","590,163","618,889","648,808","672,093"
5,5,Medicaid (Title XIX),"325,746","344,214","374,421","397,226","406,744","422,688","445,361","496,645","544,073","565,550"
6,6,Federal,"185,485","203,084","247,326","266,360","247,125","243,251","256,907","305,106","343,123","358,095"
7,7,State and Local,"140,261","141,129","127,094","130,865","159,619","179,438","188,454","191,540","200,951","207,454"
8,8,CHIP (Title XIX and Title XXI),"9,117","10,210","11,106","11,540","11,990","12,629","13,509","13,215","14,853","16,883"
9,9,Federal,"6,316","7,126","7,812","8,052","8,377","8,780","9,362","9,217","11,106","15,309"
10,10,State and Local,"2,801","3,084","3,293","3,489","3,613","3,848","4,146","3,998","3,747","1,573"
11,11,Department of Defense,"32,262","34,031","36,670","38,301","39,973","39,984","39,534","41,517","41,569","41,496"
12,12,Department of Veterans Affairs,"33,198","37,686","42,463","45,723","48,170","49,758","52,840","57,931","64,688","67,449"
13,13,Other Third Party Payers and Programs,"191,693","188,399","192,136","203,808","205,424","225,353","234,571","238,802","243,323","258,263"
14,14,Worksite Health Care,"4,543","4,540","4,569","4,702","4,894","5,163","5,357","5,689","6,153","6,742"
15,15,Other Private Revenues,"89,648","85,546","91,047","99,063","98,066","114,059","118,477","120,119","122,364","133,207"
16,16,Indian Health Services,"2,569","2,721","3,087","3,469","3,520","3,657","3,577","3,721","3,745","3,937"
17,17,Workers' Compensation,"41,334","40,042","36,232","37,001","38,824","41,981","44,585","46,927","47,653","50,661"
18,18,General Assistance,"6,928","7,146","7,169","7,084","6,682","6,423","6,697","6,900","6,807","6,195"
19,19,Maternal/Child Health,"3,763","4,147","3,947","3,913","3,674","3,422","3,549","3,809","3,990","4,174"

In [ ]:
print (df.set_index('Expenditure').T)

In [67]:
df.columns.values

array(['Unnamed: 0', 'Expenditure', 'Year_2007', 'Year_2008', 'Year_2009',
       'Year_2010', 'Year_2011', 'Year_2012', 'Year_2013', 'Year_2014',
       'Year_2015', 'Year_2016'], dtype=object)

In [68]:
df[['Year_2007', 'Year_2008', 'Year_2009', 'Year_2010', 'Year_2011',
                 'Year_2012', 'Year_2013', 'Year_2014', 'Year_2015', 'Year_2016']].dropna()

,Year_2007,Year_2008,Year_2009,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016
0,"2,295,307","2,399,121","2,495,414","2,598,823","2,689,349","2,797,260","2,879,008","3,026,157","3,200,815","3,337,248"
1,"290,000","295,184","293,723","299,742","309,973","318,330","325,189","330,068","339,315","352,537"
2,"1,609,250","1,695,968","1,796,424","1,876,922","1,950,187","2,022,904","2,087,804","2,228,136","2,382,770","2,486,842"
3,"776,176","802,857","832,906","864,344","898,631","928,211","946,398","999,940","1,068,778","1,123,372"
4,"432,751","466,971","498,859","519,787","544,679","569,634","590,163","618,889","648,808","672,093"
5,"325,746","344,214","374,421","397,226","406,744","422,688","445,361","496,645","544,073","565,550"
6,"185,485","203,084","247,326","266,360","247,125","243,251","256,907","305,106","343,123","358,095"
7,"140,261","141,129","127,094","130,865","159,619","179,438","188,454","191,540","200,951","207,454"
8,"9,117","10,210","11,106","11,540","11,990","12,629","13,509","13,215","14,853","16,883"
9,"6,316","7,126","7,812","8,052","8,377","8,780","9,362","9,217","11,106","15,309"
10,"2,801","3,084","3,293","3,489","3,613","3,848","4,146","3,998","3,747","1,573"
11,"32,262","34,031","36,670","38,301","39,973","39,984","39,534","41,517","41,569","41,496"
12,"33,198","37,686","42,463","45,723","48,170","49,758","52,840","57,931","64,688","67,449"
13,"191,693","188,399","192,136","203,808","205,424","225,353","234,571","238,802","243,323","258,263"
14,"4,543","4,540","4,569","4,702","4,894","5,163","5,357","5,689","6,153","6,742"
15,"89,648","85,546","91,047","99,063","98,066","114,059","118,477","120,119","122,364","133,207"
16,"2,569","2,721","3,087","3,469","3,520","3,657","3,577","3,721","3,745","3,937"
17,"41,334","40,042","36,232","37,001","38,824","41,981","44,585","46,927","47,653","50,661"
18,"6,928","7,146","7,169","7,084","6,682","6,423","6,697","6,900","6,807","6,195"
19,"3,763","4,147","3,947","3,913","3,674","3,422","3,549","3,809","3,990","4,174"
20,600,594,591,591,583,562,545,569,571,570
21,"3,163","3,552","3,356","3,322","3,091","2,860","3,004","3,240","3,419","3,604"
22,497,489,518,558,552,530,523,526,536,545
23,373,374,398,435,432,411,405,406,413,420
24,124,115,120,122,120,119,118,120,123,125
25,"6,721","6,923","7,299","7,737","9,559","11,576","12,961","12,187","12,533","12,397"
26,"3,166","3,206","3,309","3,385","3,448","3,420","3,284","3,495","3,501","3,657"
27,"28,631","29,549","30,757","32,605","31,924","30,801","31,144","30,817","31,223","31,762"
28,"3,895","4,089","4,201","4,293","4,282","4,321","4,416","4,612","4,819","4,984"
29,"65,969","71,564","74,167","75,612","74,294","77,443","78,301","79,439","81,709","82,187"
...,...,...,...,...,...,...,...,...,...,...
494,"17,361","18,085","21,567","23,407","24,524","25,831","26,719","28,385","31,775","36,321"
495,"8,103","9,114","10,416","13,873","14,431","15,732","18,987","28,061","35,076","36,077"
496,"4,629","5,444","7,071","9,547","8,877","9,079","10,887","17,869","23,472","24,360"
497,"3,474","3,670","3,346","4,326","5,555","6,652","8,101","10,192","11,604","11,716"
498,670,768,814,"1,023","1,045",958,"1,034","1,126","1,284","1,389"
499,463,533,566,705,722,660,712,783,966,"1,259"
500,207,235,249,318,322,298,322,343,319,130
503,"12,530","9,751","7,202","7,676","7,708","10,344","11,456","12,909","14,129","16,427"
507,"12,530","9,751","7,202","7,674","7,698","10,304","11,386","12,894","14,129","16,427"
515,-,-,-,2,9,40,70,15,-,-
519,"26,134","27,967","32,797","38,303","40,000","42,521","46,740","57,572","68,135","73,787"
520,"65,969","71,564","74,167","75,612","74,294","77,443","78,301","79,439","81,709","82,187"
521,"9,696","9,880","11,995","14,185","10,729","10,846","10,333","10,838","11,263","12,134"
522,"56,273","61,684","62,172","61,428","63,565","66,597","67,968","68,601","70,446","70,053"
523,"42,576","44,278","45,372","49,212","49,658","48,448","46,639","45,888","46,451","47,670"
524,"3,896","4,198","4,213","4,463","4,669","4,795","4,761","5,041","5,301","5,466"
525,"33,407","34,323","35,233","38,837","39,022","37,774","35,795","34,512","34,761","35,557"
526,"5,274","5,758","5,925","5,912","5,967","5,878","6,083","6,335","6,389","6,648"
527,"95,818","103,728","93,592","93,527","99,813","104,782","106,505","103,823","107,247","109,748"
528,"76,514","82,353","71,798","71,508","76,276","81,099","83,593","80,257","84,125","86,545"
529,"5,144","6,056","6,973","7,491","8,447","8,237","7,735","7,632","7,600","7,962"
530,"14,161","15,319","14,821","14,528","15,091","15,446","15,176","15,935","15,522","15,241"
531,"46,542","51,675","46,879","46,104","47,349","49,533","50,072","50,334","49,969","50,475"
532,"39,802","44,584","39,013","38,130","38,574","40,596","41,597","41,788","42,365","43,475"
533,"1,014",944,"1,763","2,127","2,589","2,620","2,533","2,348","2,240","2,233"
534,"5,726","6,147","6,103","5,847","6,186","6,317","5,942","6,198","5,364","4,767"
535,"49,277","52,053","46,713","47,423","52,465","55,249","56,432","53,490","57,278","59,273"
536,"36,712","37,769","32,785","33,378","37,702","40,503","41,996","38,469","41,760","43,070"
537,"4,130","5,112","5,210","5,364","5,858","5,617","5,202","5,284","5,360","5,729"
538,"8,435","9,172","8,718","8,681","8,905","9,129","9,234","9,737","10,158","10,474"

In [69]:
df['Year_2007'].unique()

array(['2,295,307', '290,000', '1,609,250', '776,176', '432,751',
       '325,746', '185,485', '140,261', '9,117', '6,316', '2,801',
       '32,262', '33,198', '191,693', '4,543', '89,648', '2,569', '41,334',
       '6,928', '3,763', '600', '3,163', '497', '373', '124', '6,721',
       '3,166', '28,631', '3,895', '65,969', '9,696', '56,273', '138,395',
       '42,576', '95,818', '767,613', '301', '2,156,912', '1,918,436',
       '1,451,726', '671,404', '408,710', '301,109', '171,852', '129,257',
       '7,766', '5,380', '2,386', '29,667', '33,070', '176,709', '2,468',
       '26,915', '3,529', '597', '2,932', '443', '332', '110', '6,606',
       '3,105', '717,585', '691,887', '22,783', '599,819', '250,498',
       '193,081', '117,182', '67,214', '49,968', '2,634', '1,800', '834',
       '13,716', '22,707', '69,285', ' -   ', '36,051', '1,290', '11,960',
       '2,160', '320', '55', '265', '118', '89', '29', '1,282', '162',
       '15,942', '312,897', '457,512', '45,421', '361,229', '215,697',
       '95,963', '33,525', '19,793', '13,733', '2,638', '1,823', '815',
       '10,022', '3,383', '50,862', '33,129', '709', '12,563', '790',
       '199', '68', '132', '242', '181', '61', '2,188', '983', '59',
       '132,126', '97,732', '42,545', '54,805', '47,480', '164', '5,211',
       '2,997', '2,214', '661', '471', '190', '1,226', '62', '382', '64',
       '146', '134', '38', '12', '26', '6,036', '60,055', '16,189',
       '37,773', '23,140', '10,957', '3,524', '2,024', '1,500', '153',
       '106', '47', '6,092', '3,798', '1,271', '109', '907', '201', '706',
       '7', '14,634', '57,475', '5,640', '49,347', '5,263', '24,264',
       '19,590', '10,606', '8,984', '15', '11', '5', '215', '2,487',
       '1,070', '156', '1,261', '43,869', '47,752', '45,212', '2,540',
       '235,678', '52,158', '179,795', '106,907', '45,954', '18,334',
       '10,560', '7,775', '993', '698', '295', '4,704', '2,903', '3,724',
       '18', '758', '2,858', '85', '35', '50', '6', '65,281', '37,073',
       '18,938', '17,578', '6,460', '7,017', '4,015', '2,353', '1,662',
       '86', '24', '557', '362', '40', '16', '48', '83', '21', '3',
       '11,118', '124,936', '36,457', '79,189', '8,719', '24,839',
       '42,341', '23,898', '18,443', '2', '1', '3,288', '9,290', '6,488',
       '433', '2,369', '67,182', '108,335', '4,658', '69,650', '7,240',
       '3,930', '57,386', '32,407', '24,978', '583', '407', '176', '511',
       '34,028', '9,047', '299', '248', '1,915', '210', '1,705', '3,136',
       '1,960', '8,985', '61,899', '172,508', '157,524', '104,772',
       '24,041', '24,637', '13,633', '11,004', '1,350', '936', '415',
       '2,595', '128', '14,984', '101', '14,419', '234', '4', '230', '54',
       '41', '13', '114', '50,028', '9,821', nan, '7,737', '7,530', '207',
       '2,083', '1,840', '19,251', '18,880', '6,680', '9,004', '473',
       '371', '49', '16,157', '143,436', '130,906', '17,361', '8,103',
       '4,629', '3,474', '670', '463', '12,530', '26,134', '3,896',
       '33,407', '5,274', '76,514', '5,144', '14,161', '46,542', '39,802',
       '1,014', '5,726', '49,277', '36,712', '4,130', '8,435'], dtype=object)

In [64]:
df.Year_2007 = df.Year_2007.str.replace(' -   ', '0')
df['Year_2007'] = df['Year_2007'].str.replace(',', '')
df['Year_2007'] = df['Year_2007'].astype(float)

In [50]:
int('1234')

1234

In [30]:
# Quick plot of the data using seaborn
sns.pairplot(df[['Year_2007', 'Year_2008', 'Year_2009', 'Year_2010', 'Year_2011', 'Year_2012', 'Year_2013', 'Year_2014', 'Year_2015', 'Year_2016']].dropna())

IndexError: index out of range