In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

%matplotlib inline

In [15]:
df = pd.read_csv('US_Natality_Measures_for_Females.csv', index_col=0)

In [16]:
df.head(80)

,Date,Race,Race_Black,Race_Other,Live Births,Birth Rate,Fertility Rate
Fertility Data,,,,,,,
0,2015,All races,1,1,3978497,12.4,62.5
1,2014,All races,1,1,3988076,12.5,62.9
2,2013,All races,1,1,3932181,12.4,62.5
3,2012,All races,1,1,3952841,12.6,63.0
4,2011,All races,1,1,3953590,12.7,63.2
5,2010,All races,1,1,3999386,13.0,64.1
6,2009,All races,1,1,4130665,13.5,66.2
7,2008,All races,1,1,4247694,14.0,68.1
8,2007,All races,1,1,4316233,14.3,69.3
9,2006,All races,1,1,4265555,14.3,68.6
10,2005,All races,1,1,4138349,14.0,66.7
11,2004,All races,1,1,4112052,14.0,66.4
12,2003,All races,1,1,4089950,14.1,66.1
13,2002,All races,1,1,4021726,14.0,65.0
14,2001,All races,1,1,4025933,14.1,65.1
15,2000,All races,1,1,4058814,14.4,65.9
16,1999,All races,1,1,3959417,14.2,64.4
17,1998,All races,1,1,3941553,14.3,64.3
18,1997,All races,1,1,3880894,14.2,63.6
19,1996,All races,1,1,3891494,14.4,64.1
20,1995,All races,1,1,3899589,14.6,64.6
21,1994,All races,1,1,3952767,15.0,65.9
22,1993,All races,1,1,4000240,15.4,67.0
23,1992,All races,1,1,4065014,15.8,68.4
24,1991,All races,1,1,4110907,16.2,69.3
25,1990,All races,1,1,4158212,16.7,70.9
26,1989,All races,1,1,4040958,16.4,69.2
27,1988,All races,1,1,3909510,16.0,67.3
28,1987,All races,1,1,3809394,15.7,65.8
29,1986,All races,1,1,3756547,15.6,65.4
...,...,...,...,...,...,...,...
50,1965,All races,1,1,3760358,19.4,96.3
51,1964,All races,1,1,4027490,21.1,104.7
52,1963,All races,1,1,4098020,21.7,108.3
53,1962,All races,1,1,4167362,22.4,112.0
54,1961,All races,1,1,4268326,23.3,117.1
55,1960,All races,1,1,4257850,23.7,118.0
56,2015,American Indian or Alaska Native,0,1,44299,9.7,43.9
57,2014,American Indian or Alaska Native,0,1,44928,9.9,44.8
58,2013,American Indian or Alaska Native,0,1,45991,10.3,46.4
59,2012,American Indian or Alaska Native,0,1,46093,10.5,47.0
60,2011,American Indian or Alaska Native,0,1,46419,10.7,47.7
61,2010,American Indian or Alaska Native,0,1,46760,11.0,48.6
62,2009,American Indian or Alaska Native,0,1,48665,11.8,51.6
63,2008,American Indian or Alaska Native,0,1,49537,12.4,54.0
64,2007,American Indian or Alaska Native,0,1,49443,12.9,55.5
65,2006,American Indian or Alaska Native,0,1,47721,12.9,55.3
66,2005,American Indian or Alaska Native,0,1,44813,12.6,53.6
67,2004,American Indian or Alaska Native,0,1,43927,12.8,54.2
68,2003,American Indian or Alaska Native,0,1,43052,13.0,54.8
69,2002,American Indian or Alaska Native,0,1,42368,13.2,55.7
70,2001,American Indian or Alaska Native,0,1,41872,13.5,56.8
71,2000,American Indian or Alaska Native,0,1,41668,14.0,58.7
72,1999,American Indian or Alaska Native,0,1,40170,14.2,59.0
73,1998,American Indian or Alaska Native,0,1,40272,14.8,61.3
74,1997,American Indian or Alaska Native,0,1,38572,14.7,60.8
75,1996,American Indian or Alaska Native,0,1,37880,14.9,61.8
76,1995,American Indian or Alaska Native,0,1,37278,15.3,63.0
77,1994,American Indian or Alaska Native,0,1,37740,16.0,65.8
78,1993,American Indian or Alaska Native,0,1,38732,17.0,69.7
79,1992,American Indian or Alaska Native,0,1,39453,17.9,73.1

In [17]:
df.sort_values("Date", inplace=True)

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

df['Year'] = df.index.year
df['Month'] = df.index.month

In [19]:
df.head(40)

,Race,Race_Black,Race_Other,Live Births,Birth Rate,Fertility Rate,Year,Month
Date,,,,,,,,
1970-01-01 00:00:00.000001960,White,0,1,3600744,22.7,113.2,1970,1
1970-01-01 00:00:00.000001960,American Indian or Alaska Native,0,1,21114,NaN,NaN,1970,1
1970-01-01 00:00:00.000001960,All races,1,1,4257850,23.7,118.0,1970,1
1970-01-01 00:00:00.000001960,Black,1,0,602264,31.9,153.5,1970,1
1970-01-01 00:00:00.000001961,White,0,1,3600864,22.2,112.3,1970,1
1970-01-01 00:00:00.000001961,All races,1,1,4268326,23.3,117.1,1970,1
1970-01-01 00:00:00.000001961,Black,1,0,611072,NaN,NaN,1970,1
1970-01-01 00:00:00.000001961,American Indian or Alaska Native,0,1,21464,NaN,NaN,1970,1
1970-01-01 00:00:00.000001962,American Indian or Alaska Native,0,1,21968,NaN,NaN,1970,1
1970-01-01 00:00:00.000001962,All races,1,1,4167362,22.4,112.0,1970,1
1970-01-01 00:00:00.000001962,White,0,1,3394068,21.4,107.5,1970,1
1970-01-01 00:00:00.000001962,Black,1,0,584610,NaN,NaN,1970,1
1970-01-01 00:00:00.000001963,American Indian or Alaska Native,0,1,22358,NaN,NaN,1970,1
1970-01-01 00:00:00.000001963,Black,1,0,580658,NaN,NaN,1970,1
1970-01-01 00:00:00.000001963,White,0,1,3326344,20.7,103.6,1970,1
1970-01-01 00:00:00.000001963,All races,1,1,4098020,21.7,108.3,1970,1
1970-01-01 00:00:00.000001964,Black,1,0,607556,29.5,142.6,1970,1
1970-01-01 00:00:00.000001964,All races,1,1,4027490,21.1,104.7,1970,1
1970-01-01 00:00:00.000001964,American Indian or Alaska Native,0,1,24382,NaN,NaN,1970,1
1970-01-01 00:00:00.000001964,White,0,1,3369160,20.0,99.8,1970,1
1970-01-01 00:00:00.000001965,All races,1,1,3760358,19.4,96.3,1970,1
1970-01-01 00:00:00.000001965,American Indian or Alaska Native,0,1,24066,NaN,NaN,1970,1
1970-01-01 00:00:00.000001965,White,0,1,3123860,18.3,91.3,1970,1
1970-01-01 00:00:00.000001965,Black,1,0,581126,27.7,133.2,1970,1
1970-01-01 00:00:00.000001966,All races,1,1,3606274,18.4,90.8,1970,1
1970-01-01 00:00:00.000001966,White,0,1,2993230,17.4,86.2,1970,1
1970-01-01 00:00:00.000001966,American Indian or Alaska Native,0,1,23014,NaN,NaN,1970,1
1970-01-01 00:00:00.000001966,Black,1,0,558244,26.2,124.7,1970,1
1970-01-01 00:00:00.000001967,All races,1,1,3520959,17.8,87.2,1970,1
1970-01-01 00:00:00.000001967,American Indian or Alaska Native,0,1,22665,NaN,NaN,1970,1
1970-01-01 00:00:00.000001967,Black,1,0,543976,25.1,118.5,1970,1
1970-01-01 00:00:00.000001967,White,0,1,2922502,16.8,82.8,1970,1
1970-01-01 00:00:00.000001968,Black,1,0,531152,24.2,112.7,1970,1
1970-01-01 00:00:00.000001968,American Indian or Alaska Native,0,1,24156,NaN,NaN,1970,1
1970-01-01 00:00:00.000001968,All races,1,1,3501564,17.6,85.2,1970,1
1970-01-01 00:00:00.000001968,White,0,1,2912224,16.6,81.3,1970,1
1970-01-01 00:00:00.000001969,American Indian or Alaska Native,0,1,24008,NaN,NaN,1970,1
1970-01-01 00:00:00.000001969,White,0,1,2993614,16.9,82.2,1970,1
1970-01-01 00:00:00.000001969,All races,1,1,3600206,17.9,86.1,1970,1
1970-01-01 00:00:00.000001969,Black,1,0,543132,24.4,112.1,1970,1