# Lesson 3 Codealong

In [1]:
#General imports
from sklearn import datasets
from sklearn import metrics
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

### Part 1. Basic Stats
	
    Methods available include: 
		.min() - Compute minimum value
		.max() - Compute maximum value
		.mean() - Compute mean value
		.median() - Compute median value
        .mode() - Compute mode value(s)
		.count() - Count the number of observations

#### Read in the examples

In [2]:
df = pd.DataFrame({'example1' : [18, 24, 17, 21, 24, 16, 29, 18], 'example2' : [75, 87, 49, 68, 75, 84, 98, 92], 'example3' : [55, 47, 38, 66, 56, 64, 44, 39] })
print (df)

   example1  example2  example3
0        18        75        55
1        24        87        47
2        17        49        38
3        21        68        66
4        24        75        56
5        16        84        64
6        29        98        44
7        18        92        39

#### Instructor example: Calculate the mean for each coloumn

In [3]:
df.mean()

example1    20.875
example2    78.500
example3    51.125
dtype: float64

#### Students: Calculate median, mode, max, min for example

Note: All answers should match your hand calculations

In [4]:
#maximum
df.max()

example1    29
example2    98
example3    66
dtype: int64

In [5]:
#minimum
df.min()

example1    16
example2    49
example3    38
dtype: int64

In [6]:
#median
df.median()

example1    19.5
example2    79.5
example3    51.0
dtype: float64

In [7]:
#mode
df.mode()

   example1  example2  example3
0      18.0      75.0        38
1      24.0       NaN        39
2       NaN       NaN        44
3       NaN       NaN        47
4       NaN       NaN        55
5       NaN       NaN        56
6       NaN       NaN        64
7       NaN       NaN        66

### Part 2. Box Plot

#### Instructor: Interquartile range

In [ ]:
print "50% Quartile:"
print df.quantile(.50) 
print "Median (red line of the box)"
print df.median()

In [ ]:
print"25% (bottome of the box)"
print df.quantile(0.25)
print"75% (top of the box)"
print df.quantile(0.75)

In [ ]:
df['example1'].plot(kind='box')

#### Student: Create plots for examples 2 and 3 and check the quartiles

#### What does the cross in example 2 represent?

Answer:

### Part 3. Standard Deviation and Variance

**Variance:** The variance is how much the predictions for a given point vary between different realizations of the model.

**Standard Deviation:** The square root of the variance

#### In Pandas
	Methods include: 
		.std() - Compute Standard Deviation
		.var() - Compute variance

In [ ]:
#example1
mean = df["example1"].mean()
n= df["example1"].count()

print df["example1"]
print mean
print n

In [ ]:
# create a function to calculate variance for any dataset
# find the squared distance from the mean, sum them up, etc.

# obs0 = ...
# obs1 = ...
# obs2 = ...
# obs3 = ...
# obs4 = ...
# obs5 = ...
# obs6 = ...
# obs7 = ...

print obs0, obs1, obs2, obs3, obs4, obs5, obs6, obs7

#sum each observation's squared distance from the mean 
# numerator = 
# denominator = 
# variance = ...

print numerator 
print denominator
print variance

In [ ]:
# in pandas
print "Variance"
print df["example1"].var()

#### Short Cut!

In [ ]:
df.describe()

#### Student: Check understanding 
Which value in the above table is the median?

Answer:

### Part 4: Correlation

In [ ]:
df.corr()